
// Colors
$primary-color :#55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark:#28b485;

$secondary-color-light:#ffb900;
$secondary-color-dark:#ff7730;

$tertiary-color-dark:#2998ff;
$tertiary-color-light:#5643fa;

$color-gray:#777;
$color-white:#fff;
$color-black:#000;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-light-3: #999;
$color-gray-light-4: #333;


//values
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


//Font size
$default-font-size: 1.6rem;